#rights {
    background-image: url("/resources/test.jpg");
    background-size: cover;
}

#attendance {
    background-image: url("/resources/test.jpg");
    background-size: cover;
}

#qna {
    background-image: url("/resources/test.jpg");
    background-size: cover;
}

#faq {
    background-image: url("/resources/test.jpg");
    background-size: cover;
}